.todoListOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    pointer-events: none;
}
.todoListModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f2e9;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 50vh;
    width: 30rem;
    border-color: transparent;
    outline: transparent;
    font-family: "Geomanist", sans-serif;
    letter-spacing: .1rem;
    z-index: 9999;
    pointer-events: auto;
}
.todoListTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 2rem;
    background-color: orange;
}
.close-button{
    position: absolute;
    right: .5rem;
    top: .5rem;
}